* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: #f4f7fb;
}
/* Начало header */
/* Начало header-top части */
header{
  width: 100%;
  height: 112px;
  box-shadow: 0 6px 10px -8px rgba(0, 0, 0, .2);
  background-color: white;
}
.top-line{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #DDE0E6;
}
.top{
  display: inline-block;
}
.top-left-element{
  margin-left: 22px;
  padding-right: 20px;
}
.top-button-left{
  padding-right: 15px;
  outline: none;
  border: 0;
  background: transparent;
  vertical-align: middle;
}
.top-text-left{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.top-right-element{
  margin-right: 15px;
}
.top-button-right{
  margin-left: 15px;
  outline: none;
  border: 0;
  background: transparent;
}

/* Конец header-top части */
/* Начало header-bottom части */
.bottom-line{
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom{
  display: inline-block;
}
.bottom-left-element{
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.bottom-right-element{
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.bottom-button-right{
  width: 30px;
  height: 30px;
  outline: none;
  border: 0;
  background: transparent;
  padding-left: 8px;
}
/* Конец header-bottom части */
/* Конец header */
main{
  margin: 24px 32px;
  display: flex;
  justify-content: center;
}
.main-info{
  background-color: white;
  flex-grow: 1;
  width: 1248px;
  height: 476px;
  border: 1px solid #dde0e6
}
.top-map{
  font-size: 14px;
  line-height: 20px;
  padding: 15px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.top-map-button{
  outline: none;
  border: 0;
  background: transparent;
}
.map{
  padding: 16px;
}
.google-map{
  width: 100%;
}